<ion-tabs class="tabs-icon-top bar-dark">
  <ion-tab
    ng-click="jump('wdStart')"
    icon-on="ion-ios-home"
    icon-off="ion-ios-home-outline"
    title="首页">
  </ion-tab>
  <ion-tab
    ng-click="jump('wdMyOrder')"
    icon-on="ion-ios-person"
    icon-off="ion-ios-person-outline"
    title="个人订单">
  </ion-tab>

  <ion-tab
    ng-click="jump('wdCart')"
    icon-on="ion-ios-cart"
    icon-off="ion-ios-cart-outline"
    title="购物车">

  </ion-tab>
  <ion-tab
    ng-click="jump('wdSetting')"
    icon-on="ion-ios-gear"
    icon-off="ion-ios-gear-outline"
    title="设置">
  </ion-tab>
</ion-tabs>