.startContent{
  background:url('../images/timg.jpg');
  min-height: 700px;
}
a{
  color: #28a54c;
  text-decoration: none;
  font-size: 18px;
}

.centerStart{
  position: absolute;
  top:25%;
  left: 25%;
  width: 50%;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
.mainHead{
  background: #000000;
}
.wd_title{
  line-height:60px;
  height: 60px;
  background:#e5e5e5;
}
.price_down{
 line-height: 40px;
  height: 40px;
}
.price_down button{
  margin-top: 5px;
}
.price_down span{
  color: #0a9dc7;
}
.rt{
  float:right;
}
/*main页面*/
.DzTj{
  position: relative;
}
.DzTj span{
  border: 1px solid red;
  padding: 10px 2px;
  background: red;
  position: absolute;
  margin:5px 10px;
}
.DzTj h3{
  margin-left: 30px;
  font-weight: bold;
}
.dz_introduct div.item{
  background: url("../images/bg_2.jpg");
}
.dz_introduct p{
  color: #e4393c;
  font-weight: bold;
}
div.main_foods h2{
  background: #9acfea;
  width: 145px;
}
div.main_foods p{
color: #b92c28;
}
.detail_item{
  position: relative;
}
.detail_item button.share{
  position: absolute;
  bottom: 0;
  right: 15px;
}

/*购物车页*/
.shopping_name{
  background: url('../images/bg_2.jpg');
}
.cart_list h3{
  color: #b92c28;
  font-size: 19px;
}
.cart_list p{
  color: #0a9dc7;
  font-size: 19px;
}


/*图片滑动*/
.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  background-color: #fff; text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; }
.box{
  height:100%;
}
.box h1{
  position:relative; top:50%; transform:translateY(-50%);
}
/*introduce*/
.xiaozhu{
background:#ff3b30;
  color: #0a9dc7;
  font-size: 20px;
}
.dd_intro{
  background: #9acfea;
  color: #28a54c;
}